<div class="card mb-3">
  <div class="text-right">
    <div class="card-header text-left" role="button" (click)="navigateToDetailsPage(portfolioElement['ticker'])">
      <span class="h2 text-left">
        {{portfolioElement['ticker']}}
      </span>
      <span class=" h4 text-left text-muted">{{portfolioElement['name']}}</span>
    </div>
    <div class="row py-3 px-2 h4 font-weight-normal">
      <div class="col-sm-12 col-md-6 px-sm-0 px-md-3">
        <table class="border-0 text-left ml-md-2 w-100">
          <tr>
            <td class="left-col col-8">Quantity: </td>
            <td class="text-right col-4">{{portfolioElement['qty']| number:'1.2-2'}}</td>
          </tr>
          <tr>
            <td class="left-col col-8">Avg. Cost / Share: </td>
            <td class="text-right col-4">{{portfolioElement['avgPrice']| number:'1.2-2'}}</td>
          </tr>
          <tr>
            <td class="left-col col-8">Total Cost: </td>
            <td class="text-right col-4">{{portfolioElement['totalAmount']| number:'1.2-2'}}</td>
          </tr>
        </table>
      </div>
      <div class="col-sm-12 col-md-6 px-sm-0 px-md-3">
        <table class="border-0 text-left mr-md-2 w-100">
          <tr>
            <td class="left-col col-8">Change: </td>
            <td class="text-right col-4" [style]="{'color': portfolioElement['colorElement']}">
              <svg *ngIf="portfolioElement['colorElement'] == 'red'" color="red" width="0.7em" height="1em"
                viewBox="0 1 16 16" class="bi bi-caret-down-filled" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
              </svg>
              <svg *ngIf="portfolioElement['colorElement'] == 'green' " color="green" width="0.7em" height="1em"
                viewBox="0 1 16 16" class="bi bi-caret-up-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M7.247 4.86l-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
              </svg>
              {{portfolioElement['currentDifference']| number:'1.2-2'}}
            </td>
          </tr>
          <tr>
            <td class="left-col col-8">Current Price: </td>
            <td class="text-right col-4" [style]="{'color': portfolioElement['colorElement']}">{{portfolioElement.last|
              number:'1.2-2'}}</td>
          </tr>

          <tr>
            <td class="left-col col-8">Market Value: </td>
            <td class="text-right col-4" [style]="{'color': portfolioElement['colorElement']}">
              {{portfolioElement['currentTotal']| number:'1.2-2'}}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="card-footer text-right">
      <button class="btn btn-primary mr-2 px-3" (click)="openFormModal($event, 'Buy')">
        Buy
      </button>
      <button class="btn btn-danger mx-2 px-3" (click)="openFormModal($event, 'Sell')">
        Sell
      </button>
    </div>
  </div>
</div>