<nav class="navbar navbar-dark bg-purple navbar-expand-lg sticky-top">
  <a class="navbar-brand mx-5" routerLink="search/home">Stock Search</a>
  <button class="navbar-toggler mx-3 p-1" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="mx-5 text-right collapse navbar-collapse float-right d-lg-flex flex-row-reverse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item mt-3 mt-lg-0" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a *ngIf="ticker!=''" class="nav-link px-3"
          [routerLink]="['search',ticker]">Search
        </a>
        <a *ngIf="ticker==''" class="nav-link px-3"
          [routerLink]="['search/home']">Search
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link px-3"
          [routerLink]="['watchlist']">Watchlist
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link px-3"
          [routerLink]="['portfolio']">Portfolio
        </a>
      </li>
    </ul>
  </div>
</nav>