<div class="container mt-2 pt-5">
  <div class="row">
    <form class="font-weight-bold col-12 mx-auto" id="myform" [formGroup]='stocksForm' #main_form="ngForm"
      name="mainform">
      <div class="form-group row">
        <div class="text-center mt-1 font-weight-bold col-xs-12 col-sm-10 col-lg-12 app-heading mb-5 mx-auto">
          STOCK SEARCH
        </div>
        <div class="form-inline col-lg-4 col-auto mx-auto border-search-bar">
          <input type="text" style=" background-color: '#f7f7f7';" class="border-0" id="keywords" name="keywords"
            [matAutocomplete]="autoComplete" formControlName='userInput' placeholder="Enter stock ticker symbol">
          <button style="background-color: '#f7f7f7';" class="btn btn-theme float-right border-0 pt-1" type="submit"
            (click)="onSubmit()">
            <svg class="bi bi-search" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
              <path fill-rule="evenodd"
                d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
            </svg>
          </button>
          <a [routerLink]="['']" (click)="clearState()"><svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em"
              fill="#2224ab" class="bi bi-x" viewBox="0 0 16 16">
              <path
                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
            </svg></a>
        </div>

      </div>
      <mat-autocomplete #autoComplete="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngIf="isLoading" class="is-loading">
          <mat-spinner diameter="25"></mat-spinner>
        </mat-option>
        <ng-container *ngIf="!isLoading">
          <mat-option *ngFor="let tickers of filteredTickers" [value]="tickers.symbol" (click)="onSubmit()">
            <span>{{ tickers.symbol }}</span>
            <small> | {{tickers.description}}</small>
          </mat-option>
          <!-- <mat-option *ngIf="filteredTickers.length==0">
            No valid tickers found
          </mat-option> -->
        </ng-container>
      </mat-autocomplete>
    </form>
  </div>
  <br>
  <!-- <app-alerts *ngIf="keyError==true" [reason]="keyErrorReason"></app-alerts> -->
  <ngb-alert style="text-align: center;" *ngIf="boughtMessage" type="danger" (close)="boughtMessage = ''">{{
    boughtMessage }}</ngb-alert>
</div>