<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="text-align-center h4 my-3"> Insider Sentiments</div>
            <table class="table">

                <thead class="thead-light">
                    <tr>
                        <th scope="col">{{name}}</th>
                        <th scope="col">MSPR</th>
                        <th scope="col">Change</th>
                    </tr>
                    <tr>
                        <th scope="row">Total</th>
                        <td>{{totalMSPR}}</td>
                        <td>{{totalChange}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Positive</th>
                        <td>{{positiveMSPR}}</td>
                        <td>{{positiveChange}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Negative</th>
                        <td>{{negativeMSPR}}</td>
                        <td>{{negativeChange}}</td>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-lg-6">
            <app-recommendation-chart [recommendation]="recommendation"></app-recommendation-chart>
        </div>
        <div class="col-lg-6">
            <app-earnings-chart [earnings]="earnings">
            </app-earnings-chart>
        </div>
    </div>
</div>